<div id="main-content">
	<p><a href="/">Home</a></p>
	<h2>Your Account</h2>

	<div id="account-container">
		<p id="login-msg">
			You're logged in as <span class="emphasis">{{userName}}</span>.
		</p>
	</div>

	<div id="logout-container" class="hidden">
		<p class="emphasis" id="logout-msg"></p>
	</div>

	{{#if hasFavorites}}
	<section id="favorites-section">
		<h3>Your Favorites</h3>
		<ul id="favorites-list">
			{{#each favorites}}
				<li><a id="fav-{{this.tweet_id}}" href="/tweet/{{this.tweet_id}}">{{this.text}}</a></li>
			{{/each}}
		</ul>
	</section>
	{{/if}}

	<div id="login-container">
		<button id="logout-button" class="cta-button">Log Out</button>
	</div>

	<section id="delete-section">
		<h3>Need a permanent break?</h3>
		<div id="login-container">
			<button id="delete-button" class="cta-button">Delete Account</button>
		</div>
	</section>
</div>

<script src="../scripts/logout-user.js"></script>
