<div id="main-content">
    <p><a href="/">Home</a></p>
    <h2>Tweets from {{formattedDate}}</h2>
</div>

<div id="date-list">
    {{#each tweets}}
        <div class="tweet-block">
            <p class="tweet-time"><a href="https://twitter.com/DadBoner/status/{{this.id}}">{{this.formattedTime}}</a></p>
            <p class="tweet-text">{{this.text}}</p>
        </div>
    {{/each}}
</div>

<div id="date-links">
    {{#if prev}}
        <p><a href="/date/{{prev}}">Previous ({{prev}})</a></p>
    {{/if}}

    {{#if next}}
        <p><a href="/date/{{next}}">Next ({{next}})</a></p>
    {{/if}}
</div>

<meta name="title" content="Tweets from {{date}}">