<div id="main-content">
	<p><a href="/">Home</a></p>
    <div class="input-container">
        <input placeholder="Email" id="email-input" type="email" />
        <p id="email-message" class="hidden">Thank you. If there's an account associated with this email address, you'll receive an email</p>
        <p id="error-message" class="hidden error"></p>
        <p id="refresh-link" class="hidden"><a href="/forgot">Refresh</a></p>
    </div>
    <div id="button-container">
        <button id="send-username" class="cta-button">Send Username</button>
        <button id="reset-password" class="cta-button">Reset Password</button>
    </div>
</div> 

<script src="../scripts/forgot-info.js"></script>