<div id="main-content">
    <p>{{message}}</p>
</div>

<div id="year-menu">
    <h3>Jump to Year</h3>
    <select id="year-select">
    {{#each yearHeaders}}
        <option class="year-option" value="{{this.date}}">{{this.year}}</option>
    {{/each}}
    </select>
    <p><a id="jump-button" href="#{{yearHeaders.0.date}}">Go</a></p>

</div>

<div id="links-container">
    <h3>Helpful Links</h3>
    <ul>
        {{#if loggedIn}}
            <li><a href="/account/{{userId}}">Your Account</a></li>
        {{else}}
            <li><a href="/login">Log In</a></li>
        {{/if}}

        <li><a href="/search">Search</a></li>

        {{#if lastPageview}}
            <li><a href="/tweets/date/{{lastPageview}}">Last Pageview</a></li>
        {{/if}}
    </ul>
</div>

<div id="date-list">
    <h3>Tweets by Day</h3>
    <ul>
        {{#each allDates}}
            <li id="day-{{this.date}}" class="date-item"><a href="/tweets/date/{{this.date}}">{{this.date}}</a></li>
        {{/each}}
    </ul>
</div>

<script src="../scripts/jump-page.js"></script>