<div id="main-content">
	<p><a href="/">Home</a></p>
	<h2>Log In Here</h2>

	<section id="login-inputs">
		<div class="input-container">
			<input placeholder="Username" id="user-name-input" type="text" />	
		</div>
	
		<div class="input-container">
			<input placeholder="Password" id="password-input" type="password" />
		</div>
	</section>

	<div id="status-container" class="hidden">
		<p class="emphasis" id="login-msg"></p>
	</div>

	<div id="login-container">
		<button id="login-button" class="cta-button">Log In</button>
		<p class="link">Don't have an account? <a id="signup-link" href="/signup">Sign up here.</a></p>
	</div>
</div>

<script src="../scripts/login-user.js"></script>