/* Order by IDs, then classes, then attributes, alphabetically */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300&family=Roboto:wght@300&display=swap");

.date-item {
	padding-bottom: 0.7em;
}

.tweet-block {
	padding-bottom: 0.5em;
}

.tweet-time {
	font-weight: bold;
}

h1,
h2,
h3 {
	font-family: "Roboto", sans-serif;
}

li,
p {
	font-family: "Roboto Slab", serif;
}
