/* Order by IDs, then classes, then attributes; sort alphabetically */
@import url("../styles/mystyles.css");

.emphasis {
	font-weight: bold;
}

.error {
	color: var(--danger);
}

.hidden {
	display: none;
}

.sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	text-align: right;
	top: 0;
}

.success {
	color: var(--success);
}

.tweet-block {
	padding-bottom: 0.5em;
}

h1,
h2,
h3 {
	font-family: var(--sans-serif-font);
}

li,
p {
	font-family: var(--serif-font);
	padding-bottom: 0.7em;
}
