/* Order by IDs, then classes, then attributes; sort alphabetically */
@import url("../styles/mystyles.css");

.date-item {
	padding-bottom: 0.7em;
}

.tweet-block {
	padding-bottom: 0.5em;
}

.tweet-time {
	font-weight: bold;
}

h1,
h2,
h3 {
	font-family: var(--sans-serif-font);
}

li,
p {
	font-family: var(--serif-font);
}
